.App {
  text-align: center;
  background-color: rgb(42, 50, 165);
  display: flex;
  justify-content: center;
}

#fundoretangulo {
  background-color: rgba(201, 37, 37, 0.9);
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
}


img {
  height: 40vmin;
  pointer-events: none;
}

input {
  margin-top: 10px;
  font-size: large;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  font-size: large;
  color: brown;
}

label {
  font-size: large;
  color: aquamarine;
}

h3 {
  color: aquamarine;
}