body {
  background-image: url(./images/photo-13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
  background-color: rgba(92, 134, 211, 0.562);
  display: flex;
  justify-content: center;
}

#fundoretangulo {
  background-color: rgba(2, 25, 29, 0.568);
  width: 400px;
  height: 700px;
  display: flex;
  justify-content: center;
}



img {
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
}

input {
  margin-top: 10px;
  font-size: large;
  border-radius: 10px;
  width: auto;
}

button {
  margin-top: 10px;
  font-size: large;
  color:rgba(6, 9, 53, 0.932);
}

label {
  font-size: large;
  color: aquamarine;
}

h3 {
  color: aquamarine;
}
